*{
    margin: 0;
    padding: 0;
}
/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* header */
  header{
    background-color: #996B60;
    background-image: url(../img/header/Rectangle.png);
    background-repeat: no-repeat;
    background-position: 0% 100%;
  }
  .conteiner{
    max-width: 1440px;
    margin: 0 auto;
  }
.header_p{
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: black;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */

text-align: center;

color: #FFFFFF;

  }
  .nav{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 254px;
  }
header li{
    display: inline;
}
header a{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
letter-spacing: 1px;
text-transform: uppercase;
text-decoration: none;
color: #FFFFFF;
}
.nav_helper a{
    text-align: left;
    padding-right: 64px;
}
.nav_helper2 a{
    text-align: right;
    padding-left: 64px;
  margin-left: 25px;
}
.header_box{
    display: flex;
}
.box_img{
    width: 50%;
}
.box_text{
    padding-left: 60px;
}
.box_text h1{
    font-family: 'Liberation Serif';
font-style: normal;
font-weight: 400;
font-size: 73px;
line-height: 96px;
color: #FFFFFF;
margin-bottom: 34px;
}
.box_text p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
/* or 178% */
color: #FFFFFF;
margin-bottom: 46px;
}
.box_text button{
    width: 180px;
    height: 52px;
    border: 1px solid #FFFFFF;
border-radius: 0px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height, or 117% */

text-align: center;
letter-spacing: 1px;
text-transform: uppercase;

color: #000000;
margin-bottom: 80px;
background-color: rgba(28,28,28,0);
}
/* main */
.main_info{
    display: flex;
    justify-content: space-between;
    margin-top: 59px;
    text-align: center;
    
  border-bottom: 1px solid #BDBDBD;
  padding-bottom: 41.41px;
}
.main_info p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
color: #000000;
margin-bottom: 36px;
}
.main-shop{
    margin-top: 105px;
}
.main-shop h2{
    text-align: center;
    margin-bottom: 24px;
}
h2{
    font-family: 'Liberation Serif';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 80px;
/* or 125% */
color: #000000;
}
.main-shop p{
    text-align: center;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */

text-align: center;
letter-spacing: 1px;
text-transform: uppercase;

color: #000000;
margin-bottom: 82px;
}
.box-shop{
    display: flex;
    justify-content: space-around;
    padding-bottom: 141px;
    border-bottom: 1px solid #BDBDBD;

}
main h3{
    font-family: 'Liberation Serif';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 44px;
/* identical to box height, or 147% */

text-align: center;
margin-bottom: 16px;
color: #000000;

}
.box_1{
    text-align: center;
}
.box_1 button{
width: 180px;
height: 52px;
background: #191919;
border: 1px solid #191919;
border-radius: 0px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height, or 117% */

text-align: center;
letter-spacing: 1px;
text-transform: uppercase;
color: #FFFFFF
}
.box_1 p{
    margin-bottom: 27px;
 
}
.main-center_photo{
    text-align: center;
    margin-top: 60px;
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 95px;
}
.main-center_photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;	
}
.under_photo_text{
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
}
.box_info h2 {
    font-family: 'Liberation Serif';
font-style: normal;
font-weight: 400;
font-size: 53px;
line-height: 80px;
/* identical to box height, or 151% */
color: #000000;
}
.box_info p{
    text-align: left;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
/* or 178% */
color: #000000;

}
.main-frame{
    margin-top: 59px;
    display: flex;
    justify-content: space-between;
}
.frame_text{
    padding-top: 60px;
}
.frame_text p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
/* or 178% */
color: #000000;
margin-bottom: 20px;
}
.frame_text h4{
    font-family: 'Liberation Serif';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 44px;
/* identical to box height, or 147% */
color: #000000;
margin-bottom: 19px;
}
.frame_text h3{
    font-family: 'Liberation Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    /* or 122% */
    
    text-align: left;
    color: #000000;
}
.quotesc{
    padding-top: 95px;
    padding-bottom: 50px;
    background-color: #000000;
    color: white;
    
}
.quotesc_info{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.quotesc_info p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
/* or 178% */
text-align: center;
color: #FFFFFF;
margin-bottom: 17px;
}
.quotesc_info span{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 10px;
}
.quotesc_info h5{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;
text-transform: capitalize;

color: #8A8A8A;

}
.box_under_keys{
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-around;
}
.box_under_quotesc h2{
    margin-bottom: 154px;
}
.box_under_quotesc p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
/* or 178% */
color: #000000;
margin-bottom: 35px;
}
.box_under_quotesc span{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */
letter-spacing: 1px;
text-transform: uppercase;
color: #000000;
}
.under__footer{
    background-color: #000000;
    color: white;
    background-image: url(../img/footer/Rectangle.png) ;
    background-size: cover;
    padding-top: 60px;
}
.content{
    
    width: 550px;
    height: 303px;
    background-color: #000000;
    text-align: center;
    
}
.content h2{
    font-family: 'Liberation Serif';
font-style: normal;
font-weight: 400;
font-size: 55px;
line-height: 80px;
/* identical to box height, or 145% */
padding-top: 40px;
color: #FFFFFF;
}
.content p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
/* or 175% */
padding-bottom: 26px;
padding-top: 9px;
color: #FFFFFF;
}
.content button{
    width: 180px;
    height: 52px;
    background: #FFFFFF;
border: 1px solid #FFFFFF;
border-radius: 0px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height, or 117% */
letter-spacing: 1px;
text-transform: uppercase;
color: #000000;
}
.following_social{
    padding-top: 30px;
    margin-top: 20px;
    width: 550px;
    height: 97px;
    text-align: center;
    background-color: #000000;
    
    
}
.following_social li{
    display: inline;
    padding-left: 21px;
}
.following_social li:first-child{
    padding-left: 0;
}
.following_social p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
/* identical to box height, or 175% */

text-align: center;
margin-bottom: 17px;
color: #FFFFFF;

}
.following_social a{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */
text-decoration: none;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;
color: #FFFFFF;
}
.inkognito{
    width: 60px;
    height: 60px;
}
/* footer */
footer{
    background-color: #000000;
    padding-top: 55px;
    padding-bottom: 55px;
}
.footer_flex{
display: flex;
}
.flex_element1{
    width: 50%;
}
.flex_element2{
    width: 50%;
    display: flex;
   justify-content: space-around;
    color: aliceblue;
    
}
.flex_element2 p{
    margin-bottom: 30px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

text-transform: uppercase;

color: #FFFFFF;
}
.flex_element2 li{
    list-style: none;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */

letter-spacing: 1px;
text-transform: uppercase;
margin-bottom: 21px;
color: rgba(255, 255, 255, 0.6);

}
.flex_element1{
    
}
.flex_element1 h2{
    font-family: 'Liberation Serif';
font-style: normal;
font-weight: 400;
font-size: 42px;
line-height: 72px;
/* identical to box height, or 171% */
margin-bottom: 12px;
color: #FFFFFF;
}
.flex_element1 p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* or 150% */
color: #FFFFFF;
margin-bottom: 32px;
}
.button_search{
    width: 439px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
    border-bottom: 1px solid #BDBDBD;
}
.boxing p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 14px;
/* identical to box height, or 156% */

text-align: center;
letter-spacing: 0.12px;
text-transform: uppercase;

color: #818181;
}
.boxing span{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height, or 117% */

text-align: center;
letter-spacing: 0.12px;
text-transform: uppercase;

color: #FFFFFF;
}
.blow_footer{
    margin-top: 141px;
}
.blow_footer li{
    
    display: inline;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
padding-right: 60px;

color: rgba(255, 255, 255, 0.6);

}
a:hover{
    color: gold;
}
button:hover{
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 0px rgba(0, 0, 0, 0.3); 
 -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 0px rgba(0, 0, 0, 0.3); 
 box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.3), 0 1px 0px rgba(0, 0, 0, 0.1); 
}
